/*
htmlタグなどに初期スタイルを設定するためのscss
*/
@use './variables' as var;
@use './utility';
html {
  font-size: 100%;
  letter-spacing: 0.8px;
  line-height: 1.15;
  overflow: auto;
  @extend .font-family-main;
  @extend .designed-scrollbar;
  @each $name, $color in var.$colors {
    --#{$name}: #{$color};
  }
}
:focus-visible {
  outline: none !important;
}
.ProseMirror {
  li {
    margin-left: 16px !important;
  }
  :not(pre) code {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #ff357f;
    margin: 0 2px;
    padding: 2px 4px;
  }
  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
  }
  blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
  a {
    text-decoration: none;
  }
  img.ProseMirror-selectednode {
    outline: 3px solid #68cef8;
  }
  hr {
    margin: 20px 5px;
  }
  img {
    max-width: 100%;
    max-height: 300px;
  }
}
