@use 'vuetify/lib/styles/settings/colors' as c;
// NOTE: blackにはgrey-darken-4を使う
$main-color: #0071bc;
$sub-color: #e6eef3;
$accent-color: #ff5050;
$grey-color: #e7e7ea;
$colors: (
  'main-color': $main-color,
  'sub-color': $sub-color,
  'accent-color': $accent-color,
  'grey-color': $grey-color
);
